<div class="formulario">
<form form #form="ngForm" (ngSubmit)="validar(form)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Digite o endereço da imagem</label>
    <input type="text" class="form-control"  name="img" id="inputAddress1" placeholder="LinkdaImagem.com"  ngModel required>
    <div id="emailHelp" class="form-text">Copie e coler.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Digite o titulo da image</label>
    <input type="text"  id="inputAddress2" name="titulo" class="form-control" placeholder="Título da imagem" ngModel required>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{btnValidar}}</button>
</form>
</div>