<br><br>
<h1>Bem-vindo</h1>
<div class="imagem">
<div class="col-4">
<div class="card shadow mt-2">
<div class="card" style="width: 58rem;">
    <img src="https://cdn.pixabay.com/photo/2016/04/15/10/23/grindelwald-1330662_960_720.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="textimg">
      <h5 class="card-title">Imagem inicial</h5>
      <p class="card-text">Imagens retiradas do site pixabay.com</p>
      <a href="https://pixabay.com/pt/" class="btn btn-primary">Ir para pixabay</a>
    </div>
  </div>
</div>
</div>
</div>
</div>
